<template>
    <div class="container" @click="persistPopUp" @mouseleave="resetPopUp">
        <div :class="[ 'pop-up', { persist: isPersisting, 'another-displayed': isAnotherDisplayed } ]">
            <div class="pop-up-header">
                <div class="pop-up-title">
                    <slot name="pop-up-title"></slot>
                </div>
                <button class="close-button" v-if="isPersisting" @mousedown="closePopUp">&#10005;</button>
            </div>
            <div class="pop-up-content">
                <div v-if="html !== undefined" v-html="html"></div> 
                <div v-if="text !== undefined">{{ text }}</div> 
                <div v-if="data !== undefined">
                    <slot name="pop-up-content"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import PopUp from './PopUp'
export default PopUp
</script>

<style scoped lang="scss">
    .container
    {
        position: relative;

        .pop-up-header {
            display: flex;

            button {
                padding: .3rem .5rem;
                cursor: pointer;
                border: none;
                margin-left: auto;
            }
        }

        & > span {
            text-align: end;
            display: block;
            padding-right: .5rem;
            padding-top: .3rem;
        }

        &:hover
        {
            .pop-up:not(.another-displayed)
            {
                display: block;
            }
        }

        .persist {
            display: block !important;
        }
        
        .pop-up
        {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            margin-left: 1rem;
            z-index: 999;
        }
    }
</style>
