<template>
    <div class="appointment-selector">
        <div class="schedule-header">
            <span class="selected-schedule-label">{{ selectedSchedule }}</span>
        </div>
        <div class="schedule" @scroll="scrolled">
            <table>
                <tbody v-for="(week, i) of weeks" :key="i">
                    <tr>
                        <th class="header-label relation-label">{{ relationLabel }}</th>
                        <th class="header-label week-day-label">{{ `${getDayLabel(0)} ${week.days[0]}` }}</th>
                        <th class="header-label week-day-label">{{ `${getDayLabel(1)} ${week.days[1]}` }}</th>
                        <th class="header-label week-day-label">{{ `${getDayLabel(2)} ${week.days[2]}` }}</th>
                        <th class="header-label week-day-label">{{ `${getDayLabel(3)} ${week.days[3]}` }}</th>
                        <th class="header-label week-day-label">{{ `${getDayLabel(4)} ${week.days[4]}` }}</th>
                        <th class="header-label week-day-label">{{ `${getDayLabel(5)} ${week.days[5]}` }}</th>
                        <th class="header-label week-day-label">{{ `${getDayLabel(6)} ${week.days[6]}` }}</th>
                    </tr>
                    <tr v-for="(week, j) of week.week" :key="j">
                        <td class="cell cell-time">{{ week.label }}</td>
                        <td class="cell" v-for="(schedule, k) of week.schedule" :key="k">
                            <div :class="[{ 'cell-selected': isSelected(schedule) }, isDisabled(schedule) ? 'cell-disabled' : 'cell-available' ]" :disabled="isDisabled(schedule)" @click="setMeeting(schedule)">
                                <div class="info-label">
                                    <slot name="info" :schedule="schedule" :appointment="getAppointmentTaken(schedule.start, schedule.end)"></slot>
                                </div>
                                <pop-up 
                                    v-if="showPopUpInfo(schedule)"
                                    :text="getTextFromAppointment(schedule)"
                                    :html="getHtmlFromAppointment(schedule)"
                                    :data="getDataFromAppointment(schedule)"
                                    @persist-request="isAnotherPopUpDisplayed = true"
                                    @close-request="isAnotherPopUpDisplayed = false"
                                    :is-another-displayed="isAnotherPopUpDisplayed"
                                >
                                    <template v-slot:pop-up-title>
                                        <slot name="pop-up-title" :appointment="getAppointmentTaken(schedule.start, schedule.end)"></slot>
                                    </template>
                                    <template v-slot:pop-up-content>
                                        <slot name="pop-up-info" :appointment="getAppointmentTaken(schedule.start, schedule.end)"></slot>
                                    </template>
                                </pop-up>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</template>

<script lang="ts">
import AppointmentSelector from './AppointmentSelector'
export default AppointmentSelector
</script>

<style lang="scss" scoped>
    .appointment-selector
    {
        .header
        {
            margin-bottom: 0.5em;
        }

        .schedule
        {
            overflow-y: scroll;
            height: 55vh;

            table 
            {
                width: 100%;
                text-align: center;
                position: relative;
                border-collapse: collapse;
                margin: -1px;

                tbody
                {
                    tr 
                    {
                        height: 3em;
                        
                        th
                        {
                            min-width: 7rem;
                            width: 7em;
                            position: sticky;
                            top: 0;
                            z-index: 9999;
                        }

                        td
                        {
                            div
                            {
                                width: 100%;
                                height: 100%;
                                border: none;
                                position: relative;

                                .info-label {
                                    position: absolute;
                                }

                                &.cell-available {
                                   cursor: pointer; 
                                }
                            }
                        }
                    }

                th, td 
                {
                    height: 3em;
                    padding: 0;
                }
                    
                    
                }
                
            }
        }
    }
</style>
