<template>
    <div>
        {{ schedule }}
        <appointment-selector
            v-model:selected="schedule"
            :appointments-taken="appointmentsTaken"
            :intervals="intervals"
            @cell-clicked="cellClicked"
        />
    </div> 
</template>

<script lang="ts">
import { ref, defineComponent, computed } from 'vue'
import dayjs from 'dayjs'
import VueAppointmentSelector from './components/AppointmentSelector/AppointmentSelector.vue'

import 'dayjs/locale/es'
import { Interval, Meeting, Schedule } from './type'
dayjs.locale('es')

export default defineComponent({
  components: {
      'appointment-selector': VueAppointmentSelector
  },
  setup: () => {


    const schedule = ref<Meeting>({
        start: '',
        end: '',
    })

    const intervals = ref<Interval[]>([
        {
            from: { hour: 9, minute: 0 },
            to: { hour: 12, minute: 0 }
        },
        {
            from: { hour: 16, minute: 0 },
            to: { hour: 18, minute: 0 }
        },
    ])

    const appointmentsTaken = ref([
        {
            start: '2021-04-28 09:00:00',
            end: '2021-04-28 09:30:00',
            text: 'This is a plain text'
        }
    ])

    const cellClicked = (event: Meeting) => {
        console.log(event.start, event.end)
    }

    return { schedule, intervals, appointmentsTaken, cellClicked }
  }
})
</script>

<style scoped>
</style>
