
/*
 * Appointment styles
 */

.appointment-selector {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.schedule-header {
    margin-top: 15px;
    margin-bottom: 15px;
}

.selected-schedule-label {
    font-style: italic;
}

.schedule {
    background-color: white;
    border: 1px solid #0071c0;
    border-radius: 15px;
    box-shadow: 0px 4px 19px 0px #4d4747;
}

.header-label {
    background-color: white;
    font-size: 15px;
    text-align: center;
}

.relation-label {
    color: #0071c0;
}

.week-day-label {
    font-weight: normal;
}

.cell {
    border: 1px solid #797979;
}

.cell-time {
    background-color: #d9d9db;
}

.cell-available {
    background-color: transparent;
    transition: background-color .3s ease;
}

.cell-available:hover {
    background-color: #0071c0;
}

.cell-disabled {
    background-color: #9b9b9b;
}

.cell-selected {
    background-color: #40b0ff;
}

.info-icon {
    color: white;
}

/*
 * Pop over styles
 */

.container:hover .pop-up, .persist{
    max-width: 500px !important;
    max-height: 500px !important;
    border: 1px solid #0071c0;
    animation: show-info .3s ease;
}

.pop-up {
    max-width: 0px;
    max-height: 0px;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 19px -2px #4d4747;
    transition: .3s ease;
    text-align: start;
}

.pop-up-title {
    width: max-content;
    padding: 5px 15px;
}

.pop-up-content {
    width: max-content;
    height: max-content;
    padding: 15px;
}

@keyframes show-info {
    from {
        max-width: 0px;
        max-height: 0px;
        transform: translateX(-10px);
    }
    to {
        max-width: 500px;
        max-height: 500px;
        transform: translateX(0);
    }
}

/*
 * Custom user styles
 */

.custom-pop-up-info span {
    display: block; 
}

.custom-cell-info {
    text-align: end;
}

.custom-cell-info span{
    margin-right: .3rem;
}
